.error {
    color: red;

 }
 #myForm {
    background: linear-gradient(to bottom, #cea9c9, #a7cfe9);
    padding: 20px;
  }
  #myForm1{
    background: linear-gradient(to bottom, #6dc98c, #bfda76);
    padding: 20px;
  }

  